*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style: none;
    padding: 0;
    transition: all 0.2s ease-in-out;
    scroll-behavior: smooth;
}

.icon {
    color: var(--white-color);
    font-weight: bold;
}

:root {
    --glay-color: rgba(0, 0, 0, 0.368);
    --primary-color: rgb(68, 68, 246);
    --white-color: ghostwhite;
    --black-color: black;
    --secondary-color: cyan;
}

body {
    background-color: whitesmoke;
}

.todoRoot {
    display: flex;
    position: relative;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
}

.sidebar {
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--primary-color);
    overflow: hidden;
    color: var(--white-color);
}

.upperSideBar {
    display: flex;
    flex-direction: column;
}

.list {
    overflow-y: auto;
    height: 80%;
    padding-bottom: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.projectBtn {
    background-color: transparent;
    margin: 1px 1rem;
    border-radius: 6px;
    padding: 1rem;
    font-size: medium;
    font-weight: 800;
    border-color: var(--glay-color);
    cursor: pointer;
    text-align: left;
    display: grid;
    text-wrap: nowrap;
    grid-template-columns: 20% 50%;
}

.projectBtn:hover,
.projectBtn:focus {
    background-color: var(--glay-color);
}

.mainpage {
    padding: 2rem;
    overflow-y: scroll;
    width: 80%;
    height: 100vh;
}

.button {
    color: var(--white-color);
    background-color: var(--glay-color);
    cursor: pointer;
    margin-bottom: .5rem;
    padding: .5rem;
    border-color: transparent;
    font-weight: 500;
    font-size: medium;
}

.button:hover,
.button:focus {
    background-color: var(--black-color);
}


table {
    width: 80%;
    border-radius: 5px;
    background-color: var(--glay-color);
}

td {
    padding: 1rem;
    border: solid var(--black-color);
}


thead {
    background-color: var(--black-color);
    color: var(--white-color);
}

.flex {
    display: flex;
    justify-content: space-between;
}

.flex>button {
    cursor: pointer;
    padding: .3rem 1rem;
    border-radius: 5px;
}

/* forms */
.form {
    z-index: 99;
    position: absolute;
    left: 30%;
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 40vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 1.5rem;
    border-radius: 6px;
    margin-top: 2%;
    font-weight: 700;
    font-size: medium;
    transition: top 5s ease-in;
}

.form-header {
    color: var(--secondary-color);
    margin-bottom: 2rem;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.form-header>span {
    text-align: right;
}

.form-header>span>button {
    background-color: transparent;
    color: var(--white-color);
    font-size: medium;
    font-weight: 700;
    border: none;
    cursor: pointer;
}

.form-header>span>button {
    transform: rotate(45deg);
}

.form>div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.head {
    font-size: medium;
}


.icon-group {
    background-color: var(--glay-color);
    padding: 0.4rem 0.4rem 0.1rem 0.4rem;
    border-radius: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


input[type="color"] {
    cursor: pointer;
}

input[type="text"] {
    padding: .3rem 1rem;
    outline: none;
    font-weight: 700;
    font-size: medium;
}

.radio-focus {
    color: var(--secondary-color);
}

button[type="submit"] {
    cursor: pointer;
    border-radius: 6px;
    border-color: transparent;
    padding: .5rem;
    font-weight: 700;
    font-size: medium;
    color: var(--secondary-color);
    background-color: var(--glay-color);
}

button[type="submit"]:hover,
button[type="submit"]:active {
    background-color: var(--black-color);
}

.hidden {
    top: -80%;
    visibility: hidden;
}