*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style: none;
    padding: 0;
    transition: all 0.2s ease-in-out;
    scroll-behavior: smooth;
}

.toggle {
    visibility: hidden;
}

.icon {
    color: var(--white-color);
    font-weight: bold;
}

:root {
    --glay-color: rgba(0, 0, 0, 0.368);
    --primary-color: rgb(68, 68, 246);
    --white-color: ghostwhite;
    --black-color: black;
    --secondary-color: cyan;
}

body {
    background-color: whitesmoke;
}

.toggle {
    visibility: none;
}

.todoRoot {
    display: flex;
    position: relative;
    min-height: 100%;
    min-width: 100%;
    overflow: hidden;
}

.sidebar {
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--primary-color);
    overflow: hidden;
    color: var(--white-color);
}

.upperSideBar {
    display: flex;
    flex-direction: column;
}

.list {
    overflow-y: auto;
    height: 80%;
    padding: 0;
    padding-bottom: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.projectBtn {
    background-color: transparent;
    margin: 1rem;
    border-radius: 6px;
    padding: 1rem;
    font-weight: 800;
    border-color: var(--glay-color);
    cursor: pointer;
    text-align: left;
    display: grid;
    text-wrap: nowrap;
    grid-template-columns: 20% 50%;
}

.projectBtn:hover,
.projectBtn:focus {
    background-color: var(--glay-color);
}

.mainpage {
    padding: 2rem;
    overflow-y: scroll;
    height: 100vh;
}

.button {
    color: var(--white-color);
    background-color: var(--glay-color);
    cursor: pointer;
    margin-bottom: .5rem;
    padding: .5rem;
    border-color: transparent;
    font-weight: 500;
    font-size: medium;
}

.button:hover,
.button:focus {
    background-color: var(--black-color);
}


table {
    border-radius: 5px;
    background-color: var(--glay-color);
}

tr {
    display: flex;
}

td {
    padding: 1rem;
    border: solid var(--black-color);
    display: flex;
    justify-content: space-between;

}

thead {
    background-color: var(--black-color);
    color: var(--white-color);
}

.flex {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.flex>button {
    cursor: pointer;
    padding: .2rem 1rem;
    border-radius: 5px;
    margin-left: .1rem;
}


/* forms */
.form {
    z-index: 99;
    position: absolute;
    left: 30%;
    background-color: var(--primary-color);
    color: var(--white-color);
    width: 40vw;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    padding-top: 1.5rem;
    border-radius: 6px;
    margin-top: 2%;
    font-weight: 700;
    font-size: medium;
    transition: top 5s ease-in;
}

.bed-of-forms {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 98;
    background-color: var(--glay-color);
}

.form-header {
    color: var(--secondary-color);
    margin-bottom: 2rem;
    width: 100%;
    display: inline-flex;
    justify-content: space-between;
}

.form-header>span {
    text-align: right;
    display: inline-block;
}

.form-header>span>button {
    background-color: transparent;
    color: var(--white-color);
    font-size: x-large;
    font-weight: bold;
    border: none;
    cursor: pointer;
    width: 200%;
    height: 100%;
    transform: rotate(45deg);
    color: var(--secondary-color);
}


.form>div {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.head {
    font-size: medium;
}


.icon-group {
    background-color: var(--glay-color);
    padding: 0.4rem 0.4rem 0.1rem 0.4rem;
    border-radius: 2.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 1rem;
}

input[type="radio"] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}


input[type="color"] {
    cursor: pointer;
}

input[type="text"],
input[type="date"],
select {
    padding: .3rem 1rem;
    outline: none;
    font-weight: 700;
    font-size: medium;
}

.radio-focus {
    color: var(--secondary-color);
}

button[type="submit"] {
    cursor: pointer;
    border-radius: 6px;
    border-color: transparent;
    padding: .5rem;
    font-weight: 700;
    font-size: medium;
    color: var(--secondary-color);
    background-color: var(--glay-color);
}

button[type="submit"]:hover,
button[type="submit"]:active {
    background-color: var(--black-color);
}

.hidden {
    visibility: hidden;
}

.addTask {
    width: 80%;
    margin: 1rem;
}


.addTask>button {
    cursor: pointer;
    display: flex;
    gap: 1rem;
    padding: .6rem;
    margin: auto;
    font-weight: bold;
    font-size: medium;
    margin-right: 0;
    border-radius: 6px;
}

.delete-button {
    width: 80%;
    height: 100%;
    margin: 0;
    padding: 1px;
    cursor: pointer;
    background-color: transparent;
}

.edit-button {
    width: 50%;
    height: 100%;
    padding: 1px;
    cursor: pointer;
    background-color: transparent;
}

.edit-button>i,
.delete-button>i {
    font-size: medium;
    font-weight: bold;
}


/* =========================================================================
                      Responsiveness of the website                  
   ========================================================================= */

/* For Desktop View */
@media screen and (min-width: 1024px) {

    .mainpage {

        width: 100%;
    }

    table {

        width: 70%;
    }

    .projectBtn {
        width: 100%;
    }

    td {
        width: 200px;
    }

}

/* /* For Tablet View */
@media screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    body {
        font-size: .6em;
    }

    table {
        width: 70%;
    }

    td {
        width: 7rem;
    }
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) {
    .sidebar {
        padding-top: 3rem;
        z-index: 99;
    }

    .toggle {
        z-index: 100;
        visibility: visible;
        position: absolute;
        top: 2%;
        left: 2%;
        cursor: pointer;
        width: 2rem;
        height: 2rem;
    }

    .mainpage {
        position: absolute;
        min-width: 100%;
    }
}

/* For Mobile Landscape View */
/* @media screen and (max-device-width: 640px) {} */