* {
    box-sizing: border-box;
    margin: 0;
    text-decoration: none;
    list-style: none;
    padding: 0;
    transition: all 0.2s ease-in-out;
    scroll-behavior: smooth;

}

:root {
    --glay-color: rgba(0, 0, 0, 0.368);
}

.todoRoot {
    display: flex;
}

.sidebar {
    width: 20%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 1rem;
    background-color: rgb(68, 68, 246);
    overflow: hidden;
}

.list {
    overflow-y: auto;
    height: 80%;
    padding-bottom: 2rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
}

.projectBtn {
    background-color: transparent;
    margin: 1px 1rem;
    border-radius: 6px;
    padding: 1rem;
    font-size: medium;
    font-weight: 800;
    border-color: var(--glay-color);
    cursor: pointer;
}

.projectBtn:hover,
.projectBtn:focus {
    background-color: var(--glay-color);
}

.mainpage {
    padding: 2rem;
    overflow-y: scroll;
    width: 80%;
    height: 100vh;
}

.button {
    color: yellow;
    background-color: var(--glay-color);
    cursor: pointer;
    margin-bottom: .5rem;
    padding: 5px;
}

.button:hover {
    background-color: black;
}

.focus {
    background-color: black;
}

table {
    width: 80%;
    border-radius: 5px;
    background-color: var(--glay-color);
}

thead {
    background-color: black;
    color: yellow;
}

td {
    padding: 1rem;
    border: solid black;
}